.por {
    height: 350px;
    width: 200px;
    background-color: black;
    border-radius: 8px;
    margin-top: 20px;
}
.por .img {
    height: 200px;
    width: 100%;
}
.por .typ, .price{
    color: white;
    margin-left: 15px;
}
.cont .por .button , .por .button1 , .por .button2 ,.por .button3 , .por .button4 , .por .button5  {
    height: 25px;
    width: 150px;
    background-color: rgb(98, 98, 240);
    border: none;
    border-radius: 5px;
    margin-left: 23px ;
}
.cont {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:  auto auto;
    justify-content: space-around;

}

